    /* About */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}
.logo {
    position: absolute;
    width: 500px;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

a{
    color: black;
    transition: all 0.4s linear;
}

a:hover{
    background-color: chartreuse;
    color: black;
    box-shadow: 0 0 5px chartreuse,
                0 0 25px chartreuse,
                0 0 50px chartreuse,
                0 0 200px chartreuse
 }


.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    /* Profile */

#profile {
    font-family: Arial, sans-serif;
    
    margin: 100;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.profile-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.profile-container h2 {
    margin: 10px 0;
    font-size: 24px;
}
.profile-container p {
    font-size: 16px;
    color: #666;
}
.profile-container .bio {
    font-style: italic;
    color: #555;
    margin: 15px 0;
}
.profile-container .contact-info {
    margin-top: 15px;
}
.profile-container .contact-info a {
    text-decoration: none;
    color: #007BFF;
}

    

/* login */

#login {
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
}
